<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header class="header">
    <div class="menu">
        <ul class="menu">
            <p>커뮤니티</p>
            <li>
                <button style="margin-right: 100px" onclick="location.href='mental_list'">지역별</button>

                <button onclick="location.href='mental_list'">연령별</button>

                <button style="margin-left: 100px" onclick="location.href='mental_list'">질환별</button>
            </li>

            <li>
                <button  onclick="location.href='mental_list'">채팅</button>
            </li>
        </ul>
    </div>
</header>
</body>
</html>