<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>footer</title>
</head>
<body>
<div th:fragment="footer">
<div class="footer">
    <div class="f_container">
        <ul>
            <li>이용약관</li>
            <li>개인정보처리방침</li>
            <li>저작권정책</li>
            <li>사이트맵</li>
        </ul>
        <div class="f_p">
            <p>주소 : (우)04933 서울특별시 영등포구 영등포동3가 8-1 1호</p><p style="margin-left: 30px;">대표전화 : (02) 3667-3688</p>
            <br><p>Copyright MentalHouse All right Reserved.</p>
        </div>
    </div>
</div>
</div>
</body>
</html>