<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>header</title>
    <link rel="icon" href="/img/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
</head>
<body>
<div th:fragment="header">
    <div id="header_login">
        <th:block sec:authorize="isAnonymous()">
        <ul class="loginbox">
            <li style="margin: 0;"><a href="/login/loginpage">로그인</a></li>
            <li style="margin: 0; border-left: 1px solid #aaa;"><a href="/login/agreement">회원가입</a></li>
        </ul>
        </th:block>
        <th:block sec:authorize="isAuthenticated()">
            <li style="border-left: 1px solid #aaa; " class="welcome"><a th:onclick="'javascript:kakaoLogout();'">로그아웃</a></li>
            <li style="border-left: 1px solid #aaa;margin-right: 5px; " class="welcome"><a href="/mypage/mypage">마이페이지</a></li>
            <li class="welcome"><span sec:authentication="name"></span>님 환영합니다</li>

        </th:block>
    </div>
    <div id="header">
        <div class="logo">
            <a href="/" style="display: flex; justify-content: center; align-items: center; white-space: nowrap;">
                <div style="float: left">
                    <img src="/img/logo.png" class="logo" alt="">
                </div>
                <h1>MentalHouse</h1>
            </a>
        </div>
        <ul>
            <li style="padding: 10px; margin: 0 6px;">
                <a href="/checkup/checkup">자가검진</a>
                <ul class="dropdown">
                    <li><a href="/checkup/checkup">자가검진</a></li>
                </ul>
            </li>
            <li style="padding: 10px; margin: 0 6px;">
                <a href="">정신건강정보</a>
                <ul class="dropdown">
                    <li><a href="/mental/info">정신건강정보</a></li>
                </ul>
            </li>
            <li style="padding: 10px; margin: 0 6px;">
                <a href="">정신건강통계</a>
                <ul class="dropdown">
                    <li><a href="">지역별 통계</a></li>
                    <li><a href="">질환별 통계</a></li>
                    <li><a href="">연령별 통계</a></li>
                </ul>
            </li>
            <li style="padding: 10px; margin: 0 6px;">
                <a href="">공지사항</a>
                <ul class="dropdown">
                    <li><a href="/notice/notice">공지사항</a></li>
                    <li><a href="/qna/qna">QnA</a></li>
                </ul>
            </li>
            <li style="padding: 10px; margin: 0 6px;">
                <a href="">도움이 되는 정보</a>
                <ul class="dropdown">
                    <li><a href="/news/news_list">뉴스</a></li>
                    <li><a href="/video/video_list">동영상</a></li>
                    <li><a href="/address/nearbyfacilities">근처 병원찾기</a></li>
                </ul>
            </li>
            <li style="padding: 10px; margin: 0 6px;">
                <a href="">커뮤니티</a>
                <ul class="dropdown">

                    <li><a href="/recom/recomlist">지역별 커뮤니티</a></li>
                    <li><a href="/mencom/mental_list">질환별 커뮤니티</a></li>
                    <li><a href="/agecom/AgeComList">연령별 커뮤니티</a></li>

                </ul>
            </li>
        </ul>
    </div>

</div>
</body>
</html>