<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.uni.mental.agecomunity.model.dao.AgeComDAO">
    <resultMap id="ageComResultMap" type="com.uni.mental.agecomunity.model.dto.AgeComDTO">
        <id column="AGECOM_NO" property="ageComNo"/>
        <result column="CATE_NO" property="cateNo"/>
        <result column="AGECOM_TITLE" property="ageComTitle"/>
        <result column="AGECOM_DETAIL" property="ageComDetail"/>
        <result column="MEMBER_NICK" property="memberNick"/>
        <result column="AGECOM_DATE" property="ageComDate"/>
        <result column="AGECOM_VIEWS" property="ageComViews"/>
    </resultMap>

    <select id="findAllView" parameterType="com.uni.mental.agecomunity.model.dto.AgeComDTO">
        SELECT *
        FROM tbl_community_age

    </select>

    <insert id="registAgeCom" parameterType="com.uni.mental.agecomunity.model.dto.AgeComDTO">
        INSERT INTO tbl_community_age (CATE_NO, MEMBER_NICK, AGECOM_TITLE, AGECOM_DETAIL, AGECOM_DATE, AGECOM_VIEWS)
        VALUES (#{cateNo}, #{memberNick}, #{ageComTitle}, #{ageComDetail}, NOW(), 0)
    </insert>

    <select id="selectOne" parameterType="int" resultType="com.uni.mental.agecomunity.model.dto.AgeComDTO">
        SELECT *
        FROM tbl_community_age
        WHERE AGECOM_NO = #{ageComNo}
    </select>

    <update id="updateAgeCom" parameterType="com.uni.mental.agecomunity.model.dto.AgeComDTO">
        UPDATE tbl_community_age
        SET CATE_NO = #{cateNo}, MEMBER_NICK = #{memberNick}, AGECOM_TITLE = #{ageComTitle}, AGECOM_DETAIL = #{ageComDetail}, AGECOM_DATE = #{ageComDate}, AGECOM_VIEWS = #{ageComViews}
        WHERE AGECOM_NO = #{ageComNo}
    </update>

    <delete id="deleteAgeCom" parameterType="int">
        DELETE FROM tbl_community_age
        WHERE AGECOM_NO = #{ageComNo}
    </delete>
</mapper>
