<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.uni.mental.agecommunity.model.dao.AgeComDAO">
    <resultMap id="ageComResultMap" type="com.uni.mental.agecommunity.model.dto.AgeComDTO">
        <id column="AGECOM_NO" property="ageComNo"/>
        <result column="CATE_NO" property="cateNo"/>
        <result column="AGECOM_TITLE" property="ageComTitle"/>
        <result column="AGECOM_DETAIL" property="ageComDetail"/>
        <result column="MEMBER_NICK" property="memberNick"/>
        <result column="AGECOM_DATE" property="ageComDate"/>
        <result column="AGECOM_VIEWS" property="ageComViews"/>
        <result column="ATTACH_NEWNAME" property="attachNewname"/>
    </resultMap>

    <select id="findAllView" parameterType="com.uni.mental.agecommunity.model.dto.AgeComDTO">
        SELECT *
        FROM TBL_COMMUNITY_AGE
    </select>

    <insert id="registAgeCom" parameterType="com.uni.mental.agecommunity.model.dto.AgeComDTO" >
        INSERT INTO TBL_COMMUNITY_AGE (CATE_NO, MEMBER_NICK, AGECOM_TITLE, AGECOM_DETAIL, AGECOM_DATE, AGECOM_VIEWS, ATTACH_NEWNAME)
        VALUES (#{cateNo}, #{memberNick}, #{ageComTitle}, #{ageComDetail}, NOW(), 0, #{attachNewname})
    </insert>

    <select id="selectOne" parameterType="int" resultType="com.uni.mental.agecommunity.model.dto.AgeComDTO">
        SELECT *
        FROM TBL_COMMUNITY_AGE
        WHERE AGECOM_NO = #{ageComNo}
    </select>

    <update id="updateAgeCom" parameterType="com.uni.mental.agecommunity.model.dto.AgeComDTO">
        UPDATE TBL_COMMUNITY_AGE
        SET CATE_NO = #{cateNo}, MEMBER_NICK = #{memberNick}, AGECOM_TITLE = #{ageComTitle}, AGECOM_DETAIL = #{ageComDetail}, AGECOM_DATE = #{ageComDate}, AGECOM_VIEWS = #{ageComViews}, ATTACH_NEWNAME = #{attachNewname}
        WHERE AGECOM_NO = #{ageComNo}
    </update>

    <delete id="deleteAgeCom" parameterType="int">
        DELETE FROM TBL_COMMUNITY_AGE
        WHERE AGECOM_NO = #{ageComNo}
    </delete>

    <!-- 조회수 업데이트 쿼리 추가 -->
    <update id="updateViewCount" parameterType="int">
        UPDATE TBL_COMMUNITY_AGE
        SET AGECOM_VIEWS = AGECOM_VIEWS + 1
        WHERE AGECOM_NO = #{ageComNo}
    </update>

    <!-- cateNo 조인 쿼리 -->
    <select id="findByCateNo" parameterType="Integer" resultType="com.uni.mental.agecommunity.model.dto.AgeComDTO">
        SELECT a.*
        FROM TBL_COMMUNITY_AGE a
                 JOIN TBL_CATE c ON a.CATE_NO = c.CATE_NO
        WHERE c.CATE_NO = #{cateNo}
    </select>

    <!-- 해당 카테고리 이름 가져오는 쿼리 -->
    <select id="findCateNameByCateNo" parameterType="int" resultType="java.lang.String">
        SELECT c.CATE_NAME2
        FROM TBL_CATE c
                 JOIN TBL_COMMUNITY_AGE a ON c.CATE_NO = a.CATE_NO
        WHERE a.CATE_NO = #{cateNo}
            LIMIT 1
    </select>

    <!-- 게시글 생성 시 첨부파일 이름도 함께 저장 -->
    <insert id="insertAttach" parameterType="com.uni.mental.agecommunity.model.dto.AgeComDTO">
        INSERT INTO TBL_COMMUNITY_AGE (AGECOMTITLE, AGECOMDETAIL, MEMBERNICK, CATENO, ATTACH_NEWNAME)
        VALUES (#{ageComTitle}, #{ageComDetail}, #{memberNick}, #{cateNo}, #{attachNewname})
    </insert>

    <!-- 게시글 생성 또는 업데이트 시 첨부파일 이름도 함께 저장 -->
    <update id="updateAgeComWithAttach" parameterType="com.uni.mental.agecommunity.model.dto.AgeComDTO">
        UPDATE TBL_COMMUNITY_AGE
        SET ATTACH_NEWNAME = #{attachNewname}
        WHERE AGECOMNO = #{ageComNo}
    </update>

    <!-- 페이징 처리를 위한 쿼리 -->
    <select id="findAllViewByPage" resultType="com.uni.mental.agecommunity.model.dto.AgeComDTO">
        <choose>
            <when test="cateNo != null">
                SELECT * FROM TBL_COMMUNITY_AGE
                WHERE CATE_NO = #{cateNo}
            </when>
            <otherwise>
                SELECT * FROM TBL_COMMUNITY_AGE
            </otherwise>
        </choose>
        ORDER BY AGECOM_NO DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <!-- 전체 게시글 수를 조회하는 쿼리 -->
    <select id="countAll" resultType="int">
        SELECT COUNT(*) FROM TBL_COMMUNITY_AGE
    </select>

    <!-- 카테고리별 게시글 총 개수 조회하는 쿼리 -->
    <select id="getTotalCountByCateNo" parameterType="int" resultType="int">
        SELECT COUNT(*) FROM TBL_COMMUNITY_AGE
        WHERE CATE_NO = #{cateNo}
    </select>


</mapper>
