<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uni.mental.main.model.dao.MainDAO">

    <select id="selectAllJoinedTablesOrderByDateDesc" resultMap="joinedResultMap">
        SELECT joinedTables.*, c.cate_name
        FROM (
                 SELECT a.AGECOM_NO, a.CATE_NO, a.AGECOM_TITLE, a.AGECOM_DETAIL, a.MEMBER_NICK, a.AGECOM_DATE, a.AGECOM_VIEWS, a.attach_newname AS image
                 FROM TBL_COMMUNITY_AGE a
                 UNION ALL
                 SELECT m.men_no AS AGECOM_NO, m.cate_no, m.men_title AS AGECOM_TITLE, m.men_content AS AGECOM_DETAIL, m.member_id AS MEMBER_NICK, m.men_date AS AGECOM_DATE, m.men_views AS AGECOM_VIEWS, m.men_image AS image
                 FROM TBL_MENTAL m
                 UNION ALL
                 SELECT r.recom_no AS AGECOM_NO, r.cate_no AS CATE_NO, r.recom_title AS AGECOM_TITLE, r.recom_content AS AGECOM_DETAIL, r.member_id AS MEMBER_NICK, r.recom_date AS AGECOM_DATE, r.recom_views AS AGECOM_VIEWS, r.recom_image AS image
                 FROM TBL_RECOM r
             ) AS joinedTables
                 LEFT JOIN mental.TBL_CATE c ON joinedTables.CATE_NO = c.cate_no
        ORDER BY AGECOM_DATE DESC
    </select>

    <select id="selectNotices" resultType="com.uni.mental.notice.model.dto.NoticeDto">
        SELECT NOTICE_NO AS no, NOTICE_TITLE AS title, NOTICE_CONTENT AS content, NOTICE_DATE AS date, notice_id AS id
        FROM TBL_NOTICE
        ORDER BY NOTICE_DATE DESC
    </select>


    <!-- 조인된 결과를 매핑할 resultMap 정의 -->
    <resultMap id="joinedResultMap" type="com.uni.mental.main.model.dto.MainDTO">
        <id property="ageComNo" column="AGECOM_NO"/>
        <result property="cateNo" column="CATE_NO"/>
        <result property="ageComTitle" column="AGECOM_TITLE"/>
        <result property="ageComDetail" column="AGECOM_DETAIL"/>
        <result property="memberNick" column="MEMBER_NICK"/>
        <result property="ageComDate" column="AGECOM_DATE"/>
        <result property="ageComViews" column="AGECOM_VIEWS"/>
        <result property="attachNewname" column="image"/>
        <result property="cateName" column="cate_name"/>
    </resultMap>


</mapper>
