<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uni.mental.mapper.CheckupMapper">

    <!-- selectAllMentalNames 쿼리에 대한 매핑 -->
    <select id="selectAllMentalNames" resultType="String">
        SELECT mental_name FROM tbl_checkup
    </select>

    <!-- selectQuestionsByMentalName 쿼리에 대한 매핑 -->
    <select id="selectQuestionsByMentalName" resultType="String" parameterType="String">
        SELECT cu_question FROM tbl_checkup WHERE mental_name = #{mentalName}
    </select>

</mapper>
