<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>MentalHouse</title>
    <link rel="icon" href="/img/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/basic.css">
    <link rel="stylesheet" href="/css/custom_reset.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <script src="/js/kakaoLogout.js"></script>
</head>

<body>
<div th:replace="common/header :: header"></div>
<header class="header">
    <ul class="menu">
        <li>
            <a onclick="location.href='mentalList'">홈</a>
        </li>
        <li>
            <a onclick="location.href='mentalList'">지역별</a>
        </li>
        <li>
            <a onclick="location.href='mentalList'">연령별</a>
        </li>
        <li>
            <a onclick="location.href='mentalList'">질환별</a>
        </li>
    </ul>
</header>
<div class="card">
    <h2>게시글 수정하기</h2>
    <br>
    <hr>
    <br>
    <div class="create">
        <form action="/agecom/update" method="post" id="updateForm" enctype="multipart/form-data" onsubmit="return showModificationAlert()">
            <input type="hidden" name="ageComNo" th:value="${ageComDTO.ageComNo}">
            <label>
                <input id = "ageComTitle" type="text" name="ageComTitle" th:value="${ageComDTO.ageComTitle}">
            </label>
            <br>
            <br>
            <label>
                <input id="memberNick" type="text" name="memberNick" th:value="${ageComDTO.memberNick}" readonly>
            </label>
            <br><br>
            <dl>
                <dd th:text="${#dates.format(ageComDTO.ageComDate, 'yyyy-MM-dd HH:mm:ss')}"></dd>
                <dd th:text="${ageComDTO.ageComViews}"></dd>
            </dl>
            <label>
                <textarea cols="100" rows="15" style="display: inline-block; resize: none;" maxlength="1000" id="ageComDetail" name="ageComDetail" th:text="${ageComDTO.ageComDetail}"></textarea>
            </label>
            <br><br>
            <label>
                <input id="cateNo" type="hidden" name="cateNo" th:value="${ageComDTO.cateNo}" readonly>
            </label>

            <input type="hidden" name="ageComDate" th:value="${#dates.format(ageComDTO.ageComDate, 'yyyy-MM-dd HH:mm:ss')}">

            <input type="hidden" name="ageComViews" th:value="${ageComDTO.ageComViews}">

            <!-- 이미지 미리보기 -->
            <div id="preview" th:if="${ageComDTO.attachNewname}">
                <img id="previewImg" th:src="@{'/attach/' + ${ageComDTO.attachNewname}}" alt="Attached Image" loading="lazy" style="max-width: 100%; height: auto;">
            </div>

            <!-- 이미지 첨부 input -->
            <label>이미지 첨부 (이미지를 변경하려면 새 이미지를 선택하세요):
                <input type="file" name="file" onchange="previewFile()">
            </label>

            <br>
            <button type="button" onclick="location.href='AgeComList'">취소하기</button>
            <button type="submit">수정하기</button>
        </form>
    </div>
</div>
<div th:replace="common/footer :: footer"></div>
<script>
    function showModificationAlert() {
        alert("수정이 완료되었습니다!");
        return true;
    }


    // 이미지 미리보기 및 크기 조정 함수
    function previewFile() {
        var file = document.querySelector('input[type=file]').files[0];
        resizeImage(file, 800, 600, function (resizedDataUrl) {
            const preview = document.getElementById('previewImg');
            preview.src = resizedDataUrl;
        });
    }

    // 이미지 크기 조정 함수
    function resizeImage(file, maxWidth, maxHeight, callback) {
        var reader = new FileReader();
        reader.onload = function (e) {
            var img = document.createElement("img");
            img.onload = function () {
                var canvas = document.createElement('canvas');
                var ctx = canvas.getContext("2d");

                var width = img.width;
                var height = img.height;

                // 이미지 비율 유지를 위한 크기 조정
                if (width > height) {
                    if (width > maxWidth) {
                        height *= maxWidth / width;
                        width = maxWidth;
                    }
                } else {
                    if (height > maxHeight) {
                        width *= maxHeight / height;
                        height = maxHeight;
                    }
                }
                canvas.width = width;
                canvas.height = height;
                ctx.drawImage(img, 0, 0, width, height);

                // 캔버스에서 이미지 데이터 가져오기
                var dataUrl = canvas.toDataURL('image/jpeg');
                callback(dataUrl);
            };
            img.src = e.target.result;
        };
        if (file) {
            reader.readAsDataURL(file);
        }
    }
</script>
</body>

</html>