<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/basic.css">
    <link rel="stylesheet" href="/css/custom_reset.css">
    <link rel="stylesheet" href="/css/mentalList.css">
</head>
<body>
<div th:replace="~{common/header :: header}"></div>
<header class="header">
    <ul class="menu">
        <li>
            <a onclick="location.href='AgeComList'">홈</a>
        </li>
        <li>
            <a onclick="location.href='AgeComList'">지역별</a>
        </li>
        <li>
            <a onclick="location.href='AgeComList'">연령별</a>
        </li>
        <li>
            <a onclick="location.href='AgeComList'">질환별</a>
        </li>
    </ul>
</header>


<h1 class="con">게시판</h1>
<br>
<section class="list table-common con">
    <div class="men">
        <ul>
            <li>
                <a onclick="location.href='AgeComList'">
                    <span class="mental"> 불면증 </span>
                </a>
            </li>
            <li>
                <a onclick="location.href='AgeComList'">
                    <span class="mental"> ADHD </span>
                </a>
            </li>
            <li>
                <a onclick="location.href='AgeComList'">
                    <span class="mental"> 조현병</span>
                </a>
            </li>
            <li>
                <a onclick="location.href='AgeComList'">
                    <span class="mental"> 조울증 </span>
                </a>
            </li>
            <li>
                <a onclick="location.href='AgeComList'">
                    <span class="mental"> 우울증 </span>
                </a>
            </li>
        </ul>
    </div>
    <table>
        <thead>
        <tr>
            <th>번호</th>
            <th style="width: 500px">제목</th>
            <th>글쓴이</th>
            <th>글 등록일</th>
            <th>조회수</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="agecom : ${AgeComList}">
            <td th:text="${agecom.ageComNo}"></td>
            <td><a th:href="@{AgeComDetailView(no=${agecom.ageComNo})}" th:text="${agecom.ageComTitle}"></a></td>
            <td th:text="${agecom.memberNick}"></td>
            <td th:text="${#dates.format(agecom.ageComDate, 'yyyy-MM-dd HH-mm-ss')}"></td>
            <td th:text="${agecom.ageComViews}"></td>
        </tr>
        </tbody>
    </table>
</section>
<div class="btn">
    <button type="submit" id="btn1">
        <img src="" style="width: 50px; height: 50px;" alt="글쓰기" onclick="location.href='AgeComEnrollForm'"/>
    </button>
</div>
<div th:replace="~{common/footer :: footer}"></div>
</body>
</html>