<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>checkup</title>
    <link rel="stylesheet" href="/css/basic.css">
    <link rel="stylesheet" href="/css/custom_reset.css">
    <link rel="stylesheet" href="/css/checkup.css">
</head>
<body>
<div class="black-background">
    <div class="checkup-background">
        <form id="checkupForm">
            <table>
                <thead>
                <tr>
                    <th style="width:45px; text-align: center;">번호</th>
                    <th style="text-align: center;">질문</th>
                    <th style="width:60px; text-align: center;">예</th>
                    <th style="width:60px; text-align: center;">아니오</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="cuQuestion, idx : ${cuQuestions}">
                    <td th:text="${idx.index + 1}" style="text-align: center;"></td>
                    <td th:text="${cuQuestion}"></td>
                    <td><input type="radio" th:name="'answer' + ${idx.index}" value="yes" style="text-align: center;"></td>
                    <td><input type="radio" th:name="'answer' + ${idx.index}" value="no" style="text-align: center;"></td>
                </tr>
                </tbody>
            </table>
            <button type="submit" id="resultBtn">결과 확인하기</button>
        </form>
    </div>
</div>
<div th:replace="common/header :: header"></div>
<div id="wrap">
    <h2 class="">질환별 자가검진</h2>
    <div class="text_box clearfix">
        <img src="/img/left.png" class="left_img">
            <img src="/img/self_icon01.png">
            <div class="p_box">
                <h3>질환별 자가검진(2차검진)</h3>
                <br><p>정신건강 자가검진은 정신건강 전반에 대해 위험 영역 선별을 목표로 하는 1차 검진과 선별된 영역에 대한 정밀한 평가가 가능한 2차 검진으로 구성되어 있습니다.</p>
                <p style="font-weight: bold; display: inline-block;">특정 질환만 검진하기를 원하시면 원하는 항목</p><p style="display: inline-block;">을 선택하세요.</p>
            </div>
        <img src="/img/right.png" class="right_img">
    </div>
    <div class="p_notice">
        <img src="/img/ico_notice.png">
        <p>원하는 검사를 선택하시면 상세 검사 페이지로 이동합니다.</p>
    </div>
    <!-- 판단기준 및 자가검진 출처 -->
    <div class="testSource">
        <p><결과 판단기준></p>
        <br><p>60% 이상 : 위험, 전문가와의 상담을 권장합니다.</p>
        <br><p>30% 이상 : 의심, 전문가와의 상담을 권장합니다.</p>
        <br><p>그 외 : 양호한 상태입니다.</p>
        <br><br><p>출처</p>
        <br><p>- 한음 한방신경정신과한의원(https://haneumnetwork.co.kr)</p>
        <br><p>- 원광보건대학교 학생상담센터(https://www.wu.ac.kr/councel/5197/subview.do)</p>
    </div>
    <ul class="checkup_container">
        <!-- tbl_mental_list의 mental_name을 span에 출력 -->
        <li class="checkup_box" th:each="mentalName, idx : ${mentalNames}">
            <a id="selfcheck" href="#">
                <img th:src="@{'/img/checkup0' + ${idx.index + 1} + '.jpg'}">
                <span th:text="${mentalName}"></span>
            </a>
        </li>
    </ul>
</div>
<div th:replace="common/footer :: footer"></div>
<script src="/js/jquery-1.12.4.js"></script>
<script>
    $(document).ready(function() {
        $('.checkup_box a').click(function(e) {
            e.preventDefault(); // 기본 링크 기능 방지
            var mentalName = $(this).text().trim(); // 클릭한 요소의 텍스트 (mentalName) 가져오기

            // <h2> 태그의 텍스트를 변경
            $('.checkup-background h2').text(mentalName + ' 자가검진');
            $.ajax({
                url: '/checkup/questions',
                type: 'GET',
                data: { mentalName: mentalName },
                success: function(questions) {
                    $('.checkup-background tbody').empty(); // 기존 질문 목록을 비우고
                    $.each(questions, function(i, question) {
                        var newRow = '<tr>' +
                            '<td>' + (i + 1) + '</td>' +
                            '<td>' + question + '</td>' +
                            '<td><input type="radio" name="answer' + i + '" value="yes"></td>' +
                            '<td><input type="radio" name="answer' + i + '" value="no"></td>' +
                            '</tr>';
                        $('.checkup-background tbody').append(newRow); // 새로운 질문 목록을 추가
                    });
                    $('.black-background, #header').fadeIn();
                }
            });
        });

        $('.black-background').click(function(e){
            if(e.target == e.currentTarget){
                // 클릭한 요소가 .black-background일 때만 fadeOut 효과 적용
                $('.black-background').fadeOut();
            }
        });

        $("#checkupForm").submit(function (event) {
            event.preventDefault(); // 폼 기본 제출 동작 방지

            // 모든 질문에 대한 답변을 확인
            var isAllAnswered = true;
            $('input[type="radio"]').each(function () {
                var name = $(this).attr('name');
                if ($('input[name="' + name + '"]:checked').length == 0) {
                    isAllAnswered = false;
                }
            });

            // 하나라도 체크되지 않은 경우 경고
            if (!isAllAnswered) {
                alert("모든 질문에 답해주세요!");
                return; // 폼 제출 중단
            }

            // 모든 질문에 답변이 있는 경우 서버로 데이터 제출
            var formData = $(this).serializeArray();
            var totalQuestions = formData.length;
            var yesCount = formData.filter(function (item) {
                return item.value === 'yes';
            }).length;

            $.ajax({
                type: "POST",
                url: "/checkup/calculateResult",
                data: {
                    yesCount: yesCount,
                    totalQuestions: totalQuestions
                },
                success: function(response) {
                    alert("결과: " + response.message); // 서버 응답 메시지 표시
                }
            });
        });
    });
</script>
</body>
</html>
