<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>자가검진 상세</title>
    <link rel="stylesheet" href="/css/basic.css">
    <link rel="stylesheet" href="/css/custom_reset.css">
    <link rel="stylesheet" href="/css/checkup.css">
</head>
<body>
<div th:replace="common/header :: header"></div>
<div id="wrap">
    <h2 th:text="${mentalName} + ' 자가검진'"></h2>
    <form id="checkupForm">
        <div class="text_box">
            <h3 th:text="${mentalName + '(2차검진)'}"></h3>
        </div>
        <table>
            <thead>
            <tr>
                <th>번호</th>
                <th>질문</th>
                <th>예</th>
                <th>아니오</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cuQuestion, idx : ${cuQuestions}">
                <td th:text="${idx.index + 1}"></td>
                <td th:text="${cuQuestion}"></td>
                <td><input type="radio" th:name="'answer' + ${idx.index}" value="yes"></td>
                <td><input type="radio" th:name="'answer' + ${idx.index}" value="no"></td>
            </tr>
            </tbody>
        </table>
        <button type="submit" id="resultBtn">결과 확인하기</button>
    </form>
</div>
<div th:replace="common/footer :: footer"></div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $("#checkupForm").submit(function (event) {
            event.preventDefault();
            var formData = $(this).serializeArray();
            var totalQuestions = formData.length;
            var yesCount = formData.filter(function (item) {
                return item.value === 'yes';
            }).length;

            $.ajax({
                type: "POST",
                url: "/checkup/calculateResult",
                data: {
                    yesCount: yesCount,
                    totalQuestions: totalQuestions
                },
                success: function(response) {
                    // 결과 값을 받아와서 페이지에 표시
                    alert("결과: " + response.message); // 'response.message'는 서버에서 반환된 JSON 응답의 메시지 부분입니다.
                }
            });
        });
    });
</script>
</body>
</html>
