<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>checkup</title>
    <link rel="stylesheet" href="/css/basic.css">
    <link rel="stylesheet" href="/css/custom_reset.css">
    <link rel="stylesheet" href="/css/checkup.css">
</head>
<body>
<div th:replace="common/header :: header"></div>
<div id="wrap">
    <h2 class="">질환별 자가검진</h2>
    <div class="text_box">
        <h3>질환별 자가검진(2차검진)</h3>
        <p>정신건강 자가검진은 정신건강 전반에 대해 위험 영역 선별을 목표로 하는 1차 검진과 선별된 영역에 대한 정밀한 평가가 가능한 2차 검진으로 구성되어 있습니다.</p>
        <p>특정 질환만 검진하기를 원하시면 원하는 항목을 선택하세요.</p>
    </div>
    <p>원하는 검사를 선택하시면 상세 검사 페이지로 이동합니다.</p>
    <ul class="checkout_container">
        <li class="checkout_box">
            <a href="/checkup/checkupDetail"><img src="/img/checkup01.jpg"><span>ADHD</span></a>
        </li>
        <li class="checkout_box">
            <a href="/checkup/checkupDetail"><img src="/img/checkup02.jpg"><span>불면증</span></a>
        </li>
        <li class="checkout_box">
            <a href="/checkup/checkupDetail"><img src="/img/checkup03.jpg"><span>불안장애</span></a>
        </li>
        <li class="checkout_box">
            <a href="/checkup/checkupDetail"><img src="/img/checkup04.jpg"><span>우울증</span></a>
        </li>
        <li class="checkout_box">
            <a href="/checkup/checkupDetail"><img src="/img/checkup05.jpg"><span>조울증</span></a>
        </li>
        <li class="checkout_box">
            <a href="/checkup/checkupDetail"><img src="/img/checkup06.jpg"><span>조현병</span></a>
        </li>
    </ul>
</div>
<div th:replace="common/footer :: footer"></div>
</body>
</html>