@charset "UTF-8";

/* header */
#header_login{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 36px;
    border-bottom: 1px solid #e8e8e8;
    background-color: #fff;
    z-index: 100;
}

#header_login .loginbox{
    position: absolute;
    top: 10px;
    right: 50px;
    font-size: 12px;
}

#header_login .loginbox a{
    padding: 10px;
}

.loginbox a:hover{
    color: #ff7603;
}

.welcome{
    float: right;
    text-align: right;
    padding: 0 10px;
    margin: 8px 0;
    list-style: none;
    display: inline-block;
}

.welcome span{
    color: #004af9;
}

.welcome a {
 font-size: 14px;
}

.welcome a:hover{
    color: #ff7603;
}

#header{
    display: flex;
    position: fixed;
    top: 36px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    padding: 50px 200px;
    background-color: #fff;
    z-index: 100;
}


#header h1{
    font-size: 22px;
    font-weight: bold;
    margin-left: 6px;
}

#header ul>li a {
    padding: 10px;
    font-size: 18px;
    word-wrap: break-word;
}

#header ul>li a:hover{
    color: #ff7603;
}

#header img{
    width: 40px;
    height: 40px;
}

#header h1{
    display: inline;
}

ul {
    display: flex;
}

/* 드롭다운 */
.dropdown {
    display: none;
    position: absolute;
    /* top: 110px;
    left: 0; */
    width: 100%;
    /* height: 200px; */
    padding-top: 16px;
    min-height: 180px;
    background-color: #fff;
}

.dropdown a{
    display: block;
}

#header ul:hover .dropdown {
    display: block; /* 호버 시 드롭다운 메뉴 표시 */
}
#header:has(ul:hover) {
    height: 351px;
}

.logo{

}



/* wrap */

#wrap{
    padding-top: 180px;
}

.section1 .s_wrap{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.section1{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 100px 0;
    background: url('/img/main_sec01_bg.png') no-repeat right bottom / auto;
}

.section1 .content1_1{
    float: left;
    width: 50%;
}

.con1_1{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mask{
    width: 90%;
    height: 100%;
    border-radius: 20px;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
}

.img-wrap{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex; /* Flexbox 사용 */
    flex-direction: row; /* 요소들을 가로로 정렬 */
    align-items: center; /* 세로축 가운데 정렬 */
    justify-content: flex-start; /* 가로축 시작점 정렬 */
}

.img-wrap img{
    float: left;
    width: 100%;
     height: 100%;
    border-radius: 20px;
}

.slidebtn{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #0e3799;
    color: #fff;
    border-radius: 0 20px 0 20px;
    padding: 20px;
}

.popup-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 4px;
}


.popup-buttons button{
    margin: 0 10px;
    background-color: #0e3799;
    color: #fff;
}

.section1 .content1_2{
    width: 40%;
    height: 100%;
    display: flex;
    float: left;
}

.con1_2{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.w50_con{
    width: 50%;
    height: 100%;
    float: left;
    margin: 0 15px;
}

.w50{
    width: 100%;
    height: 80%;
    background-color: #fff;
    font-size: 26px;
    font-weight: bold;
    border-radius: 20px;
    overflow: hidden;
}

.w50_submenu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15%;
    margin-top: 10%;
    padding: 14px;
    background-color: #fff;
    font-size: 22px;
    border-radius: 12px;
}

.w50_submenu img{
    width: 28px;
    height: 32px;
    margin-right: 4px;
}

.w50:hover{
    background-color: #00b8ff;
    transition: all ease .3s;
}

.w50:hover .w50_p{
    color: #fff;
}

.w50_p{
    padding: 20px;
}

.w50 img{
    width: 100%;
    height: 300px;
}

.section2{
    width: 100%;
    background: url('/img/main_sec02_bg.png') no-repeat left bottom / auto;
}

.section2 .s_wrap{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.section2 .content2{
    float: left;
    padding: 97px;
}

.section2 .box1{
    width: 40%;
    padding: 120px 0 97px 0;
}

.section2 .box2{
    width: 70%;
    padding: 97px 0 97px 78px;
}

.section2 .content2 .h2_box{
    margin-top: 50px;
    margin-bottom: 20px;
}

.section2 .content2 h2{
    display: inline;
    font-weight: bold;
    font-size: 32px;
}

.section2 .content2 .hb{
    color: #228eff;
}

.section2 .content2 p{
    display: inline;
    font-size: 18px;
}

.section2 .content2 .pb{
    position: relative;
    font-weight: bold;
    color: #0d3699;
}

.section2 .content2 .pb::before{
    content: '';
    width: 100%;
    height: 10px;
    background: #228eff;
    opacity: .12;
    position: absolute;
    left: 0;
    bottom: -3px;
}

.flex_box{
   display: flex;
    justify-content: center;
}

.section2 .content2 .con2{
    width: 38%;
}

.section2 .content2 .con2 a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 8vw; /* 뷰포트 너비의 10% */
    height: 8vw; /* 너비와 높이를 같게 하여 정사각형 유지 */
    text-align: center; /* 텍스트 중앙 정렬 */
    padding: 12px 0;
    margin: 40px 0;
    border: 1px solid #ccc;
    border-radius: 14px;
    font-weight: bold;
    background: #fff;
    transition: all ease .3s;
}

.section2 .content2 .con2 p{
    display: block;
}

.section3{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 100px 0;
}

.section3 h2{
    display: inline;
    font-size: 28px;
    font-weight: bold;
    padding: 20px 0;
}

/* 섹션3 왼쪽 박스 */
.s3_wrap1{
    width: 40%;
    float: left;
    margin: 3%;
    border: 16px solid rgba(209, 232, 255, 0.95);
    border-radius: 30px;
    padding: 20px 20px 50px;
}

.s3_wrap1 .s_wrap{
    display: flex;
    width: 80%;
    margin: 0 auto;
}

.s3_wrap1 .s_wrap2{
    width: 90%;
    margin: 0 auto;
}

.s3_wrap1 .s_wrap2 tbody td:first-child:before {
    content: "N";
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 5px;
    background: #228EFFFF;
    border-radius: 50%;
    font-size: 10px;
    line-height: 19px;
    text-align: center;
    color: #fff;
    vertical-align: middle;
}

.s3_wrap1 .s_wrap2 tbody td {
    padding-top: 4px;
    padding-bottom: 4px;
}

.s3_wrap1 .s_wrap2 tbody td {
    border-bottom: 1px solid #e8e8e8; /* 하단 경계선 추가 */
}

/* 섹션3 오른쪽 박스 */
.s3_wrap2{
    width: 40%;
    float: left;
    margin: 3%;
    border: 16px solid #fff1f3;
    border-radius: 30px;
    padding: 20px 20px 50px;
}

.s3_wrap2 .s_wrap{
    display: flex;
    width: 80%;
    margin: 0 auto;
}

.s3_wrap2 .s_wrap2{
    width: 90%;
    height: 82%;
    margin: 0 auto;
    padding: 30px 40px;
    border-top: 1px solid #222;
    border-bottom: 1px solid #222;
}

.s3_wrap2 .s_wrap2 li{
    float: left;
}

.pink_con{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding-bottom: 20px;
}

.flex{
    display: flex;
}

.com_box{
    text-align: center;
    padding-top: 11px;
    margin-right: 20px;
    font-weight: bold;
    border: 3px solid #f25f82;
    border-radius: 10px;
    width: 70px;
    height: 70px;
}

.n_circle{
    display: inline-block;
    width: 23px;
    height: 23px;
    margin-right: 5px;
    background: #f25f82;
    border-radius: 50%;
    font-size: 11px;
    line-height: 24px;
    text-align: center;
    color: #fff;
    vertical-align: middle;
}

.s3_p{
    font-size: 20px;
    font-weight: bold;
}

.s3_list{
    display: block;
    float: left;
}

.s3_list li{
    width: 100%;
}

.footer{
    width: 100%;
    background-color: #333;
    color: #fff;
}

.footer p{
    display: inline;
}

.footer .f_container{
    width: 90%;
    margin: 0 auto;
}

.footer ul{
    border-bottom: 1px solid #444;
    padding-bottom: 28px;    
    padding: 30px 0;
}

.footer li:after{
    content: "⦁";
    color: #555;
    position: relative;
    top: -1px;
    margin: 6px;
}

.footer li:last-child:after{
    content: '';
}

.f_p{
    padding: 50px 0;
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.con2.animate {
    animation: slideUp 2s ease forwards;
}

.slideInFromRight {
    animation: slideInRight 2s ease forwards;
    opacity: 0;
    transform: translateX(100%);
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}


/* 미디어쿼리 */

/* 중간 모니터 */
@media (max-width: 1600px) {
    #header{display: block; padding: 40px 200px;}
    #header ul{justify-content: space-between; padding-top: 30px;}
    .logo{display: block;}

    .section1 .s_wrap{height: 400px;}

    .section2{padding: 60px 0;}

    .section3{padding: 150px 0;}

    .w50_submenu{padding: 10px; font-size: 20px;}

    .section2 .box1{padding: 120px 0 97px 0;}
    .section2 .box2{width: 72%; padding: 97px 0 97px 78px;}

    .flex_box{flex-wrap: nowrap;}

    .section2 .box1 {width: 40%;}
    .section2 .box2 {width: 70%;}

    .con2 img{width: 4vw;}

    .section2 .content2 .h2_box{margin-top: 20px;}
    .section2 .content2 .con2 a{padding: 12px;}
    .section2 .content2 p{font-size: 16px}
}

/* 작은 모니터 */
@media (max-width: 1250px) {
    #header{padding: 20px 50px;}

    .section1{padding: 140px 0;}

    .section2{padding: 50px 0;}

    .section2 .content2 .con2 a{margin: 20px;}
    .section2 .content2 .h2_box{margin-top: 0;}
    .w50_con{margin: 0 10px;}
    .w50_submenu{font-size: 18px;}
    .section1 .s_wrap{height: 350px;}

    .s3_p{font-size: 17px;}
    .s3_wrap1, .s3_wrap2{margin: 1%;}
}

/* 모바일 */
@media screen and (max-width: 768px) {
    /* Adjust header padding and layout */
    #header {
        padding: 20px; /* Reduced padding */
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center-align items */
    }
    #header ul{height: 60px;}
    #header ul>li a {font-size: 14px;}
    #header h1{font-size: 16px;}
    #header img{width: 20px; height: 20px;}
    .section1{padding: 50px 0;}
    .section1 .s_wrap{width: 100%; align-items: center;}
    .section1 .content1_1{width: 100%; height: 100%;}
    .section1 .content1_2{display: none;}
    .mask{width: 65%;}

    .section2{padding: 100px 0;}
    .section2 .s_wrap{display: block;}

    .section2 .box1{padding: 0;}
    .section2 .box1 h2{font-size: 18px;}
    .section2 .box1 p{display: none;}

    .section2 .box2{width: 100%; padding: 0;}
    .section2 .content2 .con2{width: 100%;}
    .section2 .content2 .con2 a{width: 16vw; height: 16vw; padding: 12px; margin: 10px;}
    .section2 .content2 p{font-size: 14px;}
    .con2 img{width: 8vw;}

    .section3 {padding: 100px 20px;}

    .f_p{font-size: 12px;}
    /* Adapt .content2 for a simpler layout */
    .content2 {
        width: 100%; /* Full width */
        padding: 20px; /* Reduced padding */
    }

    /* Adjustments for .section3 layout */
    .section3 {
        flex-direction: column; /* Stack items vertically */
        padding: 150px 20px;
    }

    /* Simplify .s3_wrap1 and .s3_wrap2 layouts */
    .s3_wrap1, .s3_wrap2 {
        width: 100%; /* Full width */
        margin: 0 0 20px; /* Add some margin to the bottom */
    }
}