@charset "UTF-8";

@media screen and (max-width: 768px) {
    .section1 .s_wrap {
        flex-direction: column;
    }
    .content1_1, .content1_2 {
        width: 100%;
        margin-left: 0;
    }
}


/* header */

#header_login{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 36px;
    border-bottom: 1px solid #e8e8e8;
    background-color: #fff;
    z-index: 100;
}

#header_login .loginbox{
    position: absolute;
    top: 10px;
    right: 50px;
    font-size: 12px;
}

#header_login .loginbox a{
    padding: 10px;
}

.loginbox a:hover{
    color: #ff7603;
}

#header{
    display: flex;
    position: fixed;
    top: 36px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    padding: 50px 200px;
    background-color: #fff;
    z-index: 100;
}


#header h1{
    font-size: 22px;
    font-weight: bold;
    margin-left: 6px;
}

#header ul>li a {
    padding: 10px;
    font-size: 18px;
    word-wrap: break-word;
}

#header ul>li a:hover{
    color: #ff7603;
}

#header img{
    width: 40px;
    height: 40px;
}

#header h1{
    display: inline;
}

ul {
    display: flex;
}

/* 드롭다운 */
.dropdown {
    display: none;
    position: absolute;
    /* top: 110px;
    left: 0; */
    width: 100%;
    /* height: 200px; */
    padding-top: 16px;
    min-height: 180px;
    background-color: #fff;
}

.dropdown a{
    display: block;
}

#header ul:hover .dropdown {
    display: block; /* 호버 시 드롭다운 메뉴 표시 */
}

#header:has(ul:hover) {
    height: 261px;
}

.logo{

}



/* wrap */

#wrap{
    padding-top: 180px;
}

.s_wrap{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.section1{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 100px 0;
    background: url('/img/main_sec01_bg.png') no-repeat right bottom / auto;
}

.section1 .content1_1{
    float: left;
    width: 40%;
}

.con1_1{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px;
}

.mask{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
}

.img-wrap{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex; /* Flexbox 사용 */
    flex-direction: row; /* 요소들을 가로로 정렬 */
    align-items: center; /* 세로축 가운데 정렬 */
    justify-content: flex-start; /* 가로축 시작점 정렬 */
}

.img-wrap img{
    float: left;
    width: 100%;
    /* height: 100%; */
    border-radius: 20px;
}

.slidebtn{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #0e3799;
    color: #fff;
    border-radius: 0 20px 0 20px;
    padding: 20px;
}

.popup-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 4px;
}


.popup-buttons button{
    margin: 0 10px;
    background-color: #0e3799;
    color: #fff;
}
  

  












.section1 .content1_2{
    width: 50%;
    display: flex;
    float: left;
}

.con1_2{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px;
    overflow: hidden;
}

.con1_2 img{
    width: 100%;
    border-radius: 10px;
}

.w50{    
    width: 33%;
    float: left;
    background-color: #fff;
    margin: 0 4px;
    font-size: 26px;
    font-weight: bold;
    border-radius: 20px;
}

.w50:hover{
    background-color: #00b8ff;
    transition: all ease .3s;
}

.w50:hover .w50_p{
    color: #fff;
}

.w50_p{
    margin: 20px 0 0 20px;
}

.w50 img{
    height: 278px;
}

.section2{
    width: 100%;
    background: url('/img/main_sec02_bg.png') no-repeat left bottom / auto;
}

.section2 .content2{
    float: left;
    width: 50%;
    padding: 97px;
}

.section2 .box1{
    padding: 120px 0 97px 120px;
}

.section2 .box2{
    padding: 97px 120px 97px 78px;
}

.section2 .content2 .h2_box{
    margin-top: 50px;
    margin-bottom: 20px;
}

.section2 .content2 h2{
    display: inline;
    font-weight: bold;
    font-size: 32px;
}

.section2 .content2 .hb{
    color: #228eff;
}

.section2 .content2 p{
    display: inline;
    font-size: 18px;
}

.section2 .content2 .pb{
    position: relative;
    font-weight: bold;
    color: #0d3699;
}

.section2 .content2 .pb::before{
    content: '';
    width: 100%;
    height: 10px;
    background: #228eff;
    opacity: .12;
    position: absolute;
    left: 0;
    bottom: -3px;
}

.flex_box{
   display: flex;
   flex-wrap: wrap;
}

.section2 .content2 .con2{
    width: 38%;
}

.section2 .content2 .con2 a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 8vw; /* 뷰포트 너비의 10% */
    height: 8vw; /* 너비와 높이를 같게 하여 정사각형 유지 */
    text-align: center; /* 텍스트 중앙 정렬 */
    padding: 12px 0;
    margin: 40px;
    border: 1px solid #ccc;
    border-radius: 14px;
    font-weight: bold;
    transition: all ease .3s;
}

.section2 .content2 .con2 p{
    display: block;
}

.section3{
    width: 100%;
    padding-bottom: 80px;
}

.section3 h2{
    display: inline;
    font-size: 28px;
    font-weight: bold;
    padding: 20px 0;
}

.s3_wrap{
    width: 40%;
    float: left;
    margin: 3%;
}

.s_wrap2{
    width: 90%;
    margin: 0 auto;
    padding: 20px 40px;
    border-top: 1px solid #222;
    border-bottom: 1px solid #222;
}

.s_wrap2 li{
    float: left;
}

.pink_con{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding-bottom: 20px;
}

.flex{
    display: flex;
}

.com_box{
    text-align: center;
    padding-top: 11px;
    margin-right: 20px;
    font-weight: bold;
    border: 3px solid #f25f82;
    border-radius: 10px;
    width: 70px;
    height: 70px;
}

.n_circle{
    display: inline-block;
    width: 23px;
    height: 23px;
    margin-right: 5px;
    background: #f25f82;
    border-radius: 50%;
    font-size: 11px;
    line-height: 24px;
    text-align: center;
    color: #fff;
    vertical-align: middle;
}

.s3_p{
    font-size: 20px;
    font-weight: bold;
}

.s3_list{
    display: block;
    float: left;
    margin-right: 20px;
}

.s3_list li{
    width: 100%;
}

.footer{
    width: 100%;
    background-color: #333;
    color: #fff;
}

.footer p{
    display: inline;
}

.footer .f_container{
    width: 90%;
    margin: 0 auto;
}

.footer ul{
    border-bottom: 1px solid #444;
    padding-bottom: 28px;    
    padding: 30px 0;
}

.footer li:after{
    content: "⦁";
    color: #555;
    position: relative;
    top: -1px;
    margin: 6px;
}

.footer li:last-child:after{
    content: '';
}

.f_p{
    padding: 50px 0;
}
